# Arquivo de exemplo. Renomeie para .env antes de subir os containers
DEBUG=True
SECRET_KEY=insira-sua-chave-secreta-segura-aqui
ALLOWED_HOSTS=ip_da_sua_VM,localhost,127.0.0.1,web

# Configurações do Banco de Dados
DB_NAME=crud_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Porta externa que o host vai expor
WEB_PORT=8000