# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.homolog
.env.prod
.venv
env/
venv/
ENV/

# Databases
db.sqlite3

# Media and Static folders
media/
static/

# Django specific
local_settings.py
*.log

# Relatórios de Testes e SonarQube
coverage.xml
.coverage
.pytest_cache/
.scannerwork/
