# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.homolog
.env.prod
.venv
env/
venv/
ENV/

# Databases
db.sqlite3

# Media and Static folders
media/
static/
staticfiles/

# Django specific
local_settings.py
*.log

# Relatórios de Testes, Mess Detector e SonarQube
.env.sonar
coverage.xml
test-report.xml
pylint-report.txt
.coverage
.pytest_cache/
.scannerwork/